<form method="post" action="/profile/login" class="panel">

	<h3>Sign in</h3>

	<% if error %>
	<div class="error"><%= error %></div>
	<% end %>

	<div>
		<label for="email">Email</label>
		<input type="email" name="email" value="<%= email %>">
	</div>
	
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" value="<%= password %>">
	</div>
	
	<div>
		<div class="form_offset"></div>
		<input type="submit" name="action" value="Log In">
	</div>
	<br>
	<div>
		<div class="form_offset"></div>
		Don't have an account? <a href="/user/register">Sign up!</a>
	</div>
</form>

</div>