<h3><%= username %></h3>

<p><img src="http://www.gravatar.com/avatar/<%= gravatar %>"></p>

<ul>
	<li><a href="/user/change_password">Change Password</a></li>
	<li><a href="/user/logout">Logout</a></li>
</ul>

<p>Last login from: <%= ip_addr %></p>