<h3>Register</h3>

<% if error %>
<div class="error"><%= error %></div>
<% end %>

<form method="post" action="/user/register">

	<div>
		<label for="email">Email</label>
		<input type="text" name="email" value="<%= email %>">
	</div>
	
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" value="<%= password %>">
	</div>
	
	<div>
		<label for="password2">Repeat Password</label>
		<input type="password" name="password2" value="<%= password2 %>"> (Enter Your Password Again)
	</div>
	
	<div>
	<div class="form_offset"></div>
	<input type="submit" name="action" value="Register">
	</div>
	<br>
	<div>
		<div class="form_offset"></div>
		Already have an account? <a href="/user/login">Login Here</a>
	</div>
	
</form>